# Env
.venv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
.ruff_cache/
.pytest_cache/
*.egg-info/

# Données (téléchargées par script, jamais commitées)
data/raw/
data/processed/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
